<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303681079354-o749nsh6hugl2uo195roiretuaqoh3cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303681079354-o749nsh6hugl2uo195roiretuaqoh3cd</string>
	<key>API_KEY</key>
	<string>AIzaSyA1-pVBff669l8cu_dVbKae2TvzLsO5t3g</string>
	<key>GCM_SENDER_ID</key>
	<string>303681079354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lollipop.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-26478</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-26478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303681079354:ios:daccfb54cfa09e64868d03</string>
</dict>
</plist>